/*Framework*/
.container {
    align-content: center;
    text-align: center;
}
.row {
    width: 100%;
}
.col-1 {
    float: left;
    width: 8.33%;
}
.col-2 {
    float: left;
    width: 16.67%;
}
.col-3 {
    float: left;
    width: 25%;
}
.col-4 {
    float: left;
    width: 33%;
}
.col-5 {
    float: left;
    width: 41.67%;
}
.col-6 {
    float: left;
    width: 50%;
}
.col-7 {
    float: left;
    width: 58.33%;
}
.col-8 {
    float: left;
    width: 67%;
}
.col-9 {
    float: left;
    width: 75%;
}
.col-10 {
float: left;
    width: 83%;
}
.col-11 {
float: left;
    width: 91.67%;
}
.col-12 {
float: left;
    width: 100%;
}

/*Tag Styles*/
.clearfix {
    clear: both;
}
.book-img {
    width: 75px;
    height: 150px;
}
.book-txt {
    margin: 0 auto;
}